:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);
  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.card-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.card-header::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.6rem;
  height: 2.6rem;
  transform: translate(-50%, -50%);
  background: url("./images/icon-view.svg") center / contain no-repeat;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 2;
}

.card-header:hover::before,
.card-header:hover::after {
  opacity: 1;
  cursor: pointer;
}
